body {
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header nav,
header nav #elementToBeHidden,
header nav #elementToBeHidden ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

#toggle {
  display: none;
  font-size: 40px;
}

#close {
  display: none;
  font-size: 40px;
}

.show {
  display: block !important;
}

@media (max-width: 700px) {
  header nav #elementToBeHidden {
    display: none;
  }

  #toggle {
    display: block;
  }
  #close {
    display: none;

    font-size: 45px;
  }
}